<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="refresh" th:content="|0;URL=@{/users/__${#authentication.principal.id}__}|">
  <title>Earthly</title>
  <th:block th:replace="parts/static::head"></th:block>
</head>
<body>
<th:block th:replace="parts/template::header"></th:block>
<th:block th:replace="parts/template::navigation"></th:block>
<main id="main" class="main">
</main>
<th:block th:replace="parts/template::footer"></th:block>
<th:block th:replace="parts/static::bottom"></th:block>
</body>
</html>