<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css"></script>
</head>
<body>
<div class="container">
  <section class="section">
  <form method="post">
    <div class="field">
      <label class="label">LoginID</label>
      <div class="control has-icons-left">
        <input type="text" class="input" placeholder="Please enter your Login ID.">
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left">
        <input type="password" class="input" placeholder="Please enter your Password.">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </div>
    </div>
    <button type="submit" class="button is-primary">Authorization</button>
  </form>
  </section>
</div>
</body>
</html>